*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.modal-header-primary {
  color: #fff;
  background-color: #428bca;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
}

.btn-primary-new {
  background-color: #0b5ed7;
}

.modal-title {
  padding-left: 10px;
}

.btn-close-white {
  color: #fff;
  font-weight: bold;
}
